<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Local News | <%=title%></title>
	<!-- NEED TO USE PATH RELATIVE TO STATIC PATH NOT THE HEAD PATH!!! -->
	<link rel="stylesheet" href="/css/style.css" />
</head>
