<nav>
	<div class="site-title">
		<a href="/"><h1>Local News</h1></a>
		<p>All Information That You Need.</p>
	</div>
	<div>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/faq">FAQ</a>
	</div>
	<div><a href="/news/create">Post some news</a></div>
</nav>
