<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="content">
			<h2>Welcome to the About page.</h2>
			<h3>This is some pretty decent HTML right here.</h3>
			<p>Wow.</p>
		</div>
		<%- include('./partials/footer.ejs') %> 
	</body>
</html>
