<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Local News | <%=title%></title>
	</head>
	<body>
		<nav>
			<div class="site-title">
				<a href="/index"><h1>Local News</h1></a>
				<p>All Information That You Need.</p>
			</div>
			<div>
				<a href="/index">Home</a>
				<a href="/about">About</a>
				<a href="/faq">FAQ</a>
			</div>
			<div><a href="/news/create">Post some news</a></div>
		</nav>
		<div class="create-news content">
			<form>
				<div>
					<label for="title">News title:</label>
					<input type="text" name="" id="title" required />
				</div>
				<div>
					<label for="snippet">News snippet:</label>
					<input type="text" name="" id="snippet" required />
				</div>
				<div>
					<label for="body">News body:</label>
					<textarea name="" id="body" required></textarea>
				</div>
				<button>Submit</button>
			</form>
		</div>
	</body>
</html>
